{% extends 'base.html' %}
{% block content %}
<!-- <style>
    a {
        text-decoration: none;
    }
</style>
<div class="container-fluid p-0 " class="userheader">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom userheader" style="width:100%">
        <a href="{{ url_for('personal_info') }}"
            class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <div class="welcome-photo">
                {% if user.photo == 'default/default.png' or user.photo is none %}
                <img id="personal-photo" src="{{ url_for('static', filename='default/default.png') }}" alt="Profile Picture"> 
                {% else %}
                <img id="personal-photo" src="{{ url_for('static', filename='profile_pics/' ~ user.photo) }}" alt="Profile Picture">
                {% endif %}
                     alt="{{ user.username }}"> 
            </div>
        </a>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a href="/user/home" class="nav-link active header-list" aria-current="page">Home</a>
            </li>
            <li class="nav-item header-list"><a href="{{ url_for('view_tasks') }}" id="tasks-btn"
                    class="nav-link">Tasks</a></li>
        </ul>
    </header>
</div>  -->
<style>
    a {
        text-decoration: none;
    }
</style>
{% include 'partials/UserHeader.html' %}

<div class="d-flex justify-content-center align-items-center" style="height:70vh;">
    <div class="text-center px-4">
        <div>
            <blockquote class="blockquote">
                <p class="mb-4" style="font-size: 28px; font-style: italic; color:#333;">
                    "What you seek is seeking you."
                </p>
            </blockquote>
            <figcaption class="blockquote-footer" style="font-size: 20px;">
                Rumi
            </figcaption>
            <div style="margin-top: 10px;">
                <a href="{{ url_for('add_task') }}">
                    <button type="button" class="btn btn-outline-dark btn-lg px-4 me-md-2 header-list"> Add New Goal
                    </button>
                </a>
                <a href="{{ url_for('view_tasks') }}">
                    <button type="button" class="btn btn-outline-dark btn-lg px-4 header-list">Tasks</button>
                </a>
            </div>
        </div>
    </div>
</div>
</body>

</html>


{% endblock %}