{% extends "base.html" %}
{% block content %}
<style>
    body {
    background: linear-gradient(120deg, #ff9a9e 0%, #fad0c4 50%, #a1c4fd 100%);
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}
</style>

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div  class="col-10 col-sm-8 col-lg-6"> 
            {% if user.photo == 'default/default.png' or user.photo is none %}
                <img id="personal-info-pic" src="{{ url_for('static', filename='default/default.png') }}"
                     class="d-block mx-lg-auto img-fluid" alt="Profile Picture"  width="700" loading="lazy"> 
            {% else %}
                <img id="personal-info-pic"  src="{{ url_for('static', filename='profile_pics/' ~ user.photo) }}" class="d-block mx-lg-auto img-fluid"
                    alt="{{ user.username }}" width="700" loading="lazy">
            {% endif %}
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3" id="user-name"> {{user.username}} </h1> 
            <div class="personal lead">Email: {{user.email}}</div>
            <div class="personal lead">Phone: {{user.Phone}}</div>
            <div class="personal lead">Address: {{user.Address}}</div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start"> 
                    <a href="{{ url_for('Home') }}"><button type="button" class="btn btn-outline-primary btn-lg px-4 me-md-2 header-list"> Home </button> </a>
                    <a href="{{ url_for('Edit_Info') }}"><button type="button" class="btn btn-outline-secondary btn-lg px-4 header-list">Edit Info</button></a>
                    <a href="{{ url_for('logout') }}"><button type="button" class="btn btn-danger btn-lg px-4 header-list">Log Out</button></a>
                 </div>
        </div>
    </div>
</div>
{% endblock %}